<section class="search">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form (submit)="onSubmit()">
          <div class="search__content">
            <input
              type="search"
              placeholder="Search"
              [(ngModel)]="query"
              name="searchInput"
            />
            <button class="primary__btn" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
