// Import Poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Font families
$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Poppins", sans-serif;

// Heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    margin-bottom: 0.5em;
}

h1 {
    font-weight: 700; // Bold
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-weight: 700; // Bold
    font-size: 2rem;
    line-height: 1.3;
}

h3 {
    font-weight: 600; // SemiBold
    font-size: 1.75rem;
    line-height: 1.4;
}

h4 {
    font-weight: 600; // SemiBold
    font-size: 1.5rem;
    line-height: 1.5;
}

h5 {
    font-weight: 600; // SemiBold
    font-size: 1.25rem;
    line-height: 1.5;
}

h6 {
    font-weight: 400; // Regular
    font-size: 1rem;
    line-height: 1.6;
}

// Body text styles
body {
    font-family: $body-font-family;
    font-size: 1rem;
    line-height: 1.5;
    color: $text-black;
}

p {
    margin-bottom: 1em;
}

// Other typography styles...
