header,
.header {
    background-color: $header-bg;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &__logo {
        p {
            font-weight: 700;
            font-size: 30px;
            color: $white;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
    &__login {
        text-align: right;
        p {
            font-size: 14px;
            font-weight: 600;
            color: $text-black;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
}
